@font-face {
  font-family: "Futura PT";
  src: url("https://static1.squarespace.com/static/5873d0bcb3db2b7d5e37770e/t/60dc33b0e0e51b1f321af799/1625043888177/FuturaPT-Demi.woff");
}
@font-face {
  font-family: "Proxima";
  src: url("https://static1.squarespace.com/static/5873d0bcb3db2b7d5e37770e/t/60dc67d11c1cf62dca6920be/1625057233213/ProximaNova-Regular.woff");
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chart__container {
  max-width: 1440px;
  width: 100%;
  position: relative;
  padding-top: 50.52%;
}

.chart__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 650px;
}

#chartdiv {
  width: 100%;
  height: 100%;
}

.tooltip__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 188px;
  padding: 37px 0 40px;
  background: linear-gradient(180deg, #ffffff 6.04%, rgba(255, 255, 255, 0) 133.65%),
    rgba(219, 219, 219, 0.5);
  box-shadow: 0px 26px 25px rgba(40, 41, 61, 0.1);
  border-radius: 8px;
}

.tooltip__block {
  margin-bottom: 20px;
}

.tooltip__block:last-of-type {
  margin-bottom: 0;
}

.flag__icon {
  width: 60px;
  margin-bottom: 15px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.country__name__title {
  display: none;
  font-size: 35px;
  line-height: 1.2;
  color: #525252;
}

.tooltip__title,
.tooltip__text {
  font-family: "Futura PT";
  font-weight: 600;
  font-size: 10px;
  line-height: 115.4%;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
  margin: 0;
  text-transform: none;
}

.tooltip__text {
  font-weight: 400;
  color: #000000;
}

.inline__link {
  display: inline;
  font-size: 10px;
  line-height: 115.4%;
  color: #586183;
  text-decoration: underline;
}

.connected__countries__mobile {
  display: none;
}

g[aria-labelledby="id-72-title"] {
  display: none;
}

@media screen and (max-width: 992px) {
  .chart__container {
    display: none;
  }
  .connected__countries__mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .connected__countries__mobile .tooltip__wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    box-shadow: none;
    padding: 20px 0 20px;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    box-shadow: none;
  }
  .connected__countries__mobile .tooltip__wrapper:last-child {
    border: none;
  }
  .flag__icon {
    width: 32%;
    margin: 0 9% 0;
  }
  .country__name__title {
    display: block;
    font-family: "Proxima";
    margin: 0 0 30px 0;
  }
  .tooltip__title,
  .tooltip__text,
  .inline__link {
    font-family: "Proxima";
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
  }
  .tooltip__title,
  .tooltip__text {
    display: inline;
    margin-right: 3px;
  }
  .tooltip__title {
    margin-right: 3px;
  }
}

@media screen and (max-width: 630px) {
  .connected__countries__mobile .tooltip__wrapper {
    display: block;
  }
  .flag__icon {
    display: block;
    width: 218px;
    margin: 0 auto 15px;
  }
  .country__name__title {
    font-size: 28px;
    margin-bottom: 22px;
  }
  .tooltip__title,
  .tooltip__text,
  .inline__link {
    text-align: left;
  }
  .tooltip__block {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 374px) {
  .tooltip__title,
  .tooltip__text,
  .inline__link {
    text-align: left;
    font-size: 14px;
  }
  .tooltip__block {
    margin-bottom: 7px;
  }
}
